@import url('https://fonts.googleapis.com/css?family=Nunito:600|Raleway&display=swap');

:root{
	--primary: #032a49;
	--primaryLight: #d1d8dd;
	--secondary: #41ccbe;
	--bodyTextColor: #333537;
	--bodyTextColorLight: #666;
	--borderColor: #8c98a4;
	--bodyBGColor: #f2f6fc;
	--success: #bbeebc;
	--successDark: #446945;
	--error: #ecb7b7;
	--errorDark: #794444;
	--warn: #ffd599;
	--warnDark: #a35f00;
	--fontSize: 1.6rem
}

@media (prefers-color-scheme: dark) {}

*, *:before, *:after {box-sizing: border-box}

html {
	font-size: 62.5%;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Nunito', sans-serif;
	font-size: var(--fontSize);
  padding: 0;
  margin: 0;
  color: var(--bodyTextColor);
	background-color: var(--bodyBGColor);
	letter-spacing: 0.2px;
	position: relative;
}

main {
  max-width: 95%;
	margin: 1.5em auto 1.5em;
	position: relative;
}

h1, h2, h3 {
	font-weight: normal;
	letter-spacing: -0.4px;
	font-family: "Raleway", sans-serif;
}

form, .card {
	padding: 1.6rem;
	border: solid 1px var(--borderColor);
	background-color: #fff;
	border-radius: 8px;
}

form input + button {margin-top: 1.5em}

button:focus,
button::-moz-focus-inner,
button:active {
	outline: none;
	border: 0;
}

nav ul + button {margin-top: 3rem;}

/* Mates */
