@import url('https://fonts.googleapis.com/css?family=Nunito:600|Raleway&display=swap');

:root{
	--primary: #032a49;
	--secondary: #41ccbe;
	--bodyColor: #333537;
}

*, *:before, *:after {box-sizing: border-box}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Nunito', sans-serif;
  padding: 0 0 2em;
  margin: 0;
  color: var(--bodyColor);
  background-color: #efefef;
}

main {
  max-width: 95%;
  margin: 0 auto;
}